

.total-grid-engagement {
	padding-left: 40px;
	padding-top: 40px;
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:  1fr 1.5fr 1.7fr 0.5fr;
	grid-template-areas:
		"main-body main-body main-body main-body main-body"
		"engagementoverview engagementoverview engagementoverview engagementoverview engagementoverview"
		"engagement-box engagement-box engagement-box engagement-box engagement-box"
		"footer footer footer footer footer";

  }


  .headings{
      background: auto;
      width: 80%;
      padding-left: 20px;
      grid-area: main-body;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

  }

  #task-nav{
    display: flex;
    width: 45%;
    justify-content: space-between;
  }


  #task-nav a{
    text-decoration: None;
    color: #BDBDBD;
  }


  .active{
    color: #060606!important;
  }

.overview {
	padding: 2% 0 0;
	margin: 0;
	grid-area: engagementoverview;
	width: 100%;
	display: flex;
}

.overview-box {
	box-sizing: border-box;
	height: 75%;
	padding: 1%;
	/* CHECK IF WIDTH should not be 100% */
	width: 94%;
	background: white;
	margin: 0 auto 2% 4%;
	border-radius: .8em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
}

.individual-box{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.box-heading{
	font-size: 1.3rem;
	font-weight: 400;
}

	.box-heading h3{
		margin: 0;;
	}

.box-value{
	font-weight: 400;
	font-size: 1.3rem;
	align-self: center;
}


.engagement-box{
	grid-area: engagement-box;
	display: flex;
	flex-direction: row;
	width: 94%;
	height: 100%;
	margin: auto auto 2% 4%;
	justify-content: space-around;
	align-items: center;
}

/* MIGHT WANT TO REMOVE THIS ONCE WE INCLUDE IMAGES */

.engagement-content{
	height: 100%;
}


.content-box {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background: white;
	border-radius: .8em;
	box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 1%;
}

.gif {
	background-color: grey;
	height: 100%;
	width: 100%;
}

.reaction-count{
	justify-content: flex-end;
	font-size: 1.3rem;
	font-weight: 400;
}

.footer {
	background: #d9d9d9;
	grid-area: footer;
	height: 90%;
	align-self: flex-end;
}
